<a href="https://colab.research.google.com/github/GIRI-SUMANTH/Python-Basic-Codes/blob/master/ML_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
import pandas as pd
import copy as cp

f1=pd.read_csv('/content/ML-7.csv')
# print(f1)
n=len(f1)
n_i=cp.deepcopy(n)

df1=pd.DataFrame(f1)
print(df1)
df1_i=cp.deepcopy(df1)

     f1   f2  f3   f4  f5  output
0   2.0  4.0   9  1.0   2     NaN
1   NaN  5.0   3  2.0   4     NaN
2   6.0  4.0   6  3.0   6     NaN
3   1.0  5.0   2  4.0   8     NaN
4   NaN  4.0   1  5.0  10     NaN
5   2.0  5.0   6  6.0  12     NaN
6   3.0  4.0   4  7.0  14     NaN
7   NaN  4.0   7  8.0  16     NaN
8   2.0  4.0   2  9.0  18     NaN
9   3.0  4.0   9  2.0  20     NaN
10  1.0  4.0   4  3.0  22     NaN
11  NaN  5.0   7  4.0  24     NaN
12  NaN  5.0   3  5.0  26     NaN
13  3.0  NaN   4  1.0  28     NaN
14  NaN  NaN   2  4.0  30     NaN
15  NaN  NaN   4  6.0  32     NaN
16  5.0  NaN   4  2.0  34     NaN
17  NaN  4.0   9  7.0  36     NaN
18  1.0  5.0   1  6.0  38     NaN
19  3.0  6.0   5  7.0  40     NaN
20  1.0  3.0   3  5.0  42     NaN
21  9.0  3.0   5  9.0  44     NaN
22  4.0  4.0   2  4.0  46     NaN
23  7.0  4.0   5  2.0  48     NaN
24  NaN  5.0   1  6.0  50     NaN
25  NaN  5.0   4  3.0  52     NaN
26  3.0  4.0   6  4.0  54     NaN
27  5.0  4.0   8  5.0  56     NaN
28  3.0  NaN   4  NaN  58     NaN
29  NaN  4.0   6  2.0  60     NaN
30  NaN  4.0   9  2.0  62     NaN
31  1.0  4.0   5  1.0  64     NaN
32  1.0  4.0   9  6.0  66     NaN
33  NaN  NaN   1  5.0  68     NaN
34  NaN  NaN   2  8.0  70     NaN
35  NaN  4.0   4  5.0  72     NaN
36  4.0  4.0   2  7.0  74     NaN
37  NaN  NaN   5  5.0  76     NaN
38  7.0  5.0   2  1.0  78     NaN
39  3.0  4.0   3  5.0  80     NaN

In [102]:
def isNaN(x):
  return x!=x

def missing_values(f1,features):
  miss_per=list()
  for i in features:
    cnt=0
    for j in range(len(f1[i])):
      if(isNaN(f1[i][j])):
        cnt+=1
    print(cnt)
    miss_per.append((cnt/len(f1))*100)
  return miss_per

def variance1(col):
  return pd.Series(col).var()

In [103]:
features=list()
for x in f1:
  print(x)
  features.append(x)
features_i=cp.deepcopy(features)

m=len(features)
m_i=cp.deepcopy(m)

f1
f2
f3
f4
f5
output

In [104]:
print(n,m)
mv=missing_values(f1,features)
print(mv)
for i in range(m):
  if mv[i]>10:
    df1.pop(features_i[i])
    print(f'Col %d is deleted.'%(i+1))
    features.remove(features_i[i])
    print(features,features_i)
print(df1)

40 6
16
8
0
1
0
40
[40.0, 20.0, 0.0, 2.5, 0.0, 100.0]
Col 1 is deleted.
['f2', 'f3', 'f4', 'f5', 'output'] ['f1', 'f2', 'f3', 'f4', 'f5', 'output']
Col 2 is deleted.
['f3', 'f4', 'f5', 'output'] ['f1', 'f2', 'f3', 'f4', 'f5', 'output']
Col 6 is deleted.
['f3', 'f4', 'f5'] ['f1', 'f2', 'f3', 'f4', 'f5', 'output']
    f3   f4  f5
0    9  1.0   2
1    3  2.0   4
2    6  3.0   6
3    2  4.0   8
4    1  5.0  10
5    6  6.0  12
6    4  7.0  14
7    7  8.0  16
8    2  9.0  18
9    9  2.0  20
10   4  3.0  22
11   7  4.0  24
12   3  5.0  26
13   4  1.0  28
14   2  4.0  30
15   4  6.0  32
16   4  2.0  34
17   9  7.0  36
18   1  6.0  38
19   5  7.0  40
20   3  5.0  42
21   5  9.0  44
22   2  4.0  46
23   5  2.0  48
24   1  6.0  50
25   4  3.0  52
26   6  4.0  54
27   8  5.0  56
28   4  NaN  58
29   6  2.0  60
30   9  2.0  62
31   5  1.0  64
32   9  6.0  66
33   1  5.0  68
34   2  8.0  70
35   4  5.0  72
36   2  7.0  74
37   5  5.0  76
38   2  1.0  78
39   3  5.0  80

In [106]:
var_list=list()
for i in features:
  x=df1[i].tolist()
  v1=variance1(x)
  print(v1)
  var_list.append([v1,i])

var_list.sort(reverse=True)
print(var_list)

6.151282051282052
5.20242914979757
546.6666666666666
[[546.6666666666666, 'f5'], [6.151282051282052, 'f3'], [5.20242914979757, 'f4']]

In [108]:
import pandas as pd
import copy as cp

f1=pd.read_csv('/content/ML-7.csv')
# print(f1)
n=len(f1)
n_i=cp.deepcopy(n)

df1=pd.DataFrame(f1)
print(df1)
df1_i=cp.deepcopy(df1)

def isNaN(x):
  return x!=x

def missing_values(f1,features):
  miss_per=list()
  for i in features:
    cnt=0
    for j in range(len(f1[i])):
      if(isNaN(f1[i][j])):
        cnt+=1
    print(cnt)
    miss_per.append((cnt/len(f1))*100)
  return miss_per

def variance1(col):
  return pd.Series(col).var()
  
features=list()
for x in f1:
  print(x)
  features.append(x)
features_i=cp.deepcopy(features)

m=len(features)
m_i=cp.deepcopy(m)

print(n,m)
mv=missing_values(f1,features)
print(mv)
for i in range(m):
  if mv[i]>10:
    df1.pop(features_i[i])
    print(f'Col %d is deleted.'%(i+1))
    features.remove(features_i[i])
    print(features,features_i)
print(df1)

var_list=list()
for i in features:
  x=df1[i].tolist()
  v1=variance1(x)
  print(v1)
  var_list.append([v1,i])

var_list.sort(reverse=True)
print(var_list)

     f1   f2  f3   f4  f5  output
0   2.0  4.0   9  1.0   2     NaN
1   NaN  5.0   3  2.0   4     NaN
2   6.0  4.0   6  3.0   6     NaN
3   1.0  5.0   2  4.0   8     NaN
4   NaN  4.0   1  5.0  10     NaN
5   2.0  5.0   6  6.0  12     NaN
6   3.0  4.0   4  7.0  14     NaN
7   NaN  4.0   7  8.0  16     NaN
8   2.0  4.0   2  9.0  18     NaN
9   3.0  4.0   9  2.0  20     NaN
10  1.0  4.0   4  3.0  22     NaN
11  NaN  5.0   7  4.0  24     NaN
12  NaN  5.0   3  5.0  26     NaN
13  3.0  NaN   4  1.0  28     NaN
14  NaN  NaN   2  4.0  30     NaN
15  NaN  NaN   4  6.0  32     NaN
16  5.0  NaN   4  2.0  34     NaN
17  NaN  4.0   9  7.0  36     NaN
18  1.0  5.0   1  6.0  38     NaN
19  3.0  6.0   5  7.0  40     NaN
20  1.0  3.0   3  5.0  42     NaN
21  9.0  3.0   5  9.0  44     NaN
22  4.0  4.0   2  4.0  46     NaN
23  7.0  4.0   5  2.0  48     NaN
24  NaN  5.0   1  6.0  50     NaN
25  NaN  5.0   4  3.0  52     NaN
26  3.0  4.0   6  4.0  54     NaN
27  5.0  4.0   8  5.0  56     NaN
28  3.0  NaN   4  NaN  58     NaN
29  NaN  4.0   6  2.0  60     NaN
30  NaN  4.0   9  2.0  62     NaN
31  1.0  4.0   5  1.0  64     NaN
32  1.0  4.0   9  6.0  66     NaN
33  NaN  NaN   1  5.0  68     NaN
34  NaN  NaN   2  8.0  70     NaN
35  NaN  4.0   4  5.0  72     NaN
36  4.0  4.0   2  7.0  74     NaN
37  NaN  NaN   5  5.0  76     NaN
38  7.0  5.0   2  1.0  78     NaN
39  3.0  4.0   3  5.0  80     NaN
f1
f2
f3
f4
f5
output
40 6
16
8
0
1
0
40
[40.0, 20.0, 0.0, 2.5, 0.0, 100.0]
Col 1 is deleted.
['f2', 'f3', 'f4', 'f5', 'output'] ['f1', 'f2', 'f3', 'f4', 'f5', 'output']
Col 2 is deleted.
['f3', 'f4', 'f5', 'output'] ['f1', 'f2', 'f3', 'f4', 'f5', 'output']
Col 6 is deleted.
['f3', 'f4', 'f5'] ['f1', 'f2', 'f3', 'f4', 'f5', 'output']
    f3   f4  f5
0    9  1.0   2
1    3  2.0   4
2    6  3.0   6
3    2  4.0   8
4    1  5.0  10
5    6  6.0  12
6    4  7.0  14
7    7  8.0  16
8    2  9.0  18
9    9  2.0  20
10   4  3.0  22
11   7  4.0  24
12   3  5.0  26
13   4  1.0  28
14   2  4.0  30
15   4  6.0  32
16   4  2.0  34
17   9  7.0  36
18   1  6.0  38
19   5  7.0  40
20   3  5.0  42
21   5  9.0  44
22   2  4.0  46
23   5  2.0  48
24   1  6.0  50
25   4  3.0  52
26   6  4.0  54
27   8  5.0  56
28   4  NaN  58
29   6  2.0  60
30   9  2.0  62
31   5  1.0  64
32   9  6.0  66
33   1  5.0  68
34   2  8.0  70
35   4  5.0  72
36   2  7.0  74
37   5  5.0  76
38   2  1.0  78
39   3  5.0  80
6.151282051282052
5.20242914979757
546.6666666666666
[[546.6666666666666, 'f5'], [6.151282051282052, 'f3'], [5.20242914979757, 'f4']]